<div display="flex">
    <h2>Таблицы</h2>
    <table class="table table-bordered table-sm table-hover">
    <td> <%= button_to 'Студенты', "show/student", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Преподаватели', "show/teacher", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Дисциплины', "show/discipline", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Группы', "show/group", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Кафедры', "show/department", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Оценки', "show/mark", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Выговоры', "show/reprimand", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Благодарность', "show/kudo", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    </table>
</div>

<div display="flex">
    <h2>Запросы</h2>
    <table class="table table-bordered table-sm table-hover">
    <td> <%= button_to 'Запрос №1', "show/n1", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Запрос №2', "show/n2", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Запрос №3', "show/n3", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Запрос №4', "show/n4", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Запрос №5', "show/input5", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Запрос №6', "show/input6", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    <td> <%= button_to 'Запрос №7', "show/input7", class: "back_to_all btn btn-outline-primary", method: :get %> </td>
    </table>
</div>