<%= stylesheet_link_tag "table.css"%>
<%= button_to 'Назад', root_path, class: "back_to_all btn btn-outline-primary", method: :get %>
<div align="center">
<h1 align="center">Студенты</h1> 
    <table class="table table-bordered table-sm table-hover">
        <th scope="col">Идентификатор</th>
        <th scope="col">Имя</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Группа</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Форма обучения</th>
        <th scope="col">Курс обучения</th>
        <th scope="col">Стипендия</th>
        <th scope="col">Военное обучение</th>
        <% @student.each do |teacher| %>
        <tr scope="row">
            <td><%= teacher['student_id']%></td>
            <td><%= teacher['full_name']%></td>
            <td><%= teacher['phone_number']%></td>
            <td><%= teacher['grupp']%></td>
            <td><%= teacher['date_of_birth']%></td>
            <td><%= teacher['form_of_study']%></td>
            <td><%= teacher['course_of_study']%></td>
            <td><%= teacher['scholarship']%></td>
            <% if teacher['scholarship'] == false %>
                <td>Обучается</td>
            <% else %>
                <td>Не обучается</td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>

